LIZARD_MQTT_HOST=localhost
LIZARD_MQTT_PORT=1883
LIZARD_MQTT_TOPIC_PREFIX=lizard
LIZARD_INTERVAL_SECONDS=15
LIZARD_CPU_PERCENT_THRESHOLDS='[{"level":"warning","value":50},{"level":"critical","value":90}]'
LIZARD_MEMORY_PERCENT_THRESHOLDS='[{"level":"warning","value":90},{"level":"critical","value":98}]'
LIZARD_DISK_PERCENT_THRESHOLDS='[{"level":"warning","value":85},{"level":"critical","value":95}]'
LIZARD_GPU_PERCENT_THRESHOLDS='[{"level":"warning","value":90},{"level":"critical","value":98}]'
LIZARD_TEMPERATURE_CELSIUS_THRESHOLDS='[{"level":"warning","value":80},{"level":"critical","value":90}]'
LIZARD_REMOTE_CONFIG_ENABLED=true
